---
- name: Install PostgreSQL client and Pip
  dnf:
    name: 
      - postgresql15
      - python3-pip
    state: present

- name: Install psycopg2-binary via pip
  pip:
    name: psycopg2-binary
    state: present