---
- name: Ensure scanning tools are installed
  pip:
    name: [bandit, safety]
    state: present

- name: Run Bandit SAST scan
  shell: "bandit -r /home/ec2-user/app -f txt -o /home/ec2-user/scan_report.txt"
  ignore_errors: yes

- name: Run Safety dependency check
  shell: "safety check -r /home/ec2-user/app/requirements.txt"
  register: safety_result
  ignore_errors: yes
