---
- name: Install Git and Python3
  dnf:
    name: 
      - git
      - python3-pip
    state: present

- name: Clone the FastAPI Repository
  git:
    repo: 'https://github.com/olawalelateef9/class25-26-project2.git'
    dest: /home/ec2-user/app
    version: main
    force: yes

- name: Install App dependencies
  pip:
    requirements: /home/ec2-user/app/requirements.txt
    state: present

- name: Kill existing FastAPI processes
  shell: pkill python3 || true
  ignore_errors: yes    

- name: Start FastAPI in background
  shell: |
    cd /home/ec2-user/app
    # Using 'mydb' to match the db_name we just added to Terraform
    export DATABASE_URL="postgresql://{{ db_user }}:{{ db_password }}@{{ rds_endpoint }}:5432/mydb"
    nohup python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8000 > app.log 2>&1 &
  async: 60
  poll: 0

- name: Wait for FastAPI to start (Health Check)
  uri:
    url: "http://localhost:8000/"
    status_code: 200
  register: result
  until: result.status == 200
  retries: 12
  delay: 10