---
- name: Install PostgreSQL client and Pip
  dnf:
    name: 
      - postgresql15
      - python3-pip
    state: present
# The 'Fast Fail' connectivity test
- name: Test Connectivity to RDS Instance
  shell: |
    # We split by ':' and take the first part to get just the hostname
    export PGPASSWORD='{{ db_password }}'
    psql -h {{ rds_endpoint.split(':')[0] }} -p 5432 -U {{ db_user }} -d {{ db_name }} -c "SELECT 1;"
  register: db_check
  retries: 5
  delay: 10
  until: db_check.rc == 0
  changed_when: false

- name: Confirm DB Connection Status
  debug:
    msg: "Database connection successful!"
  when: db_check.rc == 0