---
- name: Deploy Application Tier
  hosts: appserver
  become: true
  roles:
    - { role: app_servers, tags: ["app"] }


- name: Deploy Database Tier
  hosts: db_servers
  become: true
  roles:
    - { role: db_servers, tags: ["db"] }

- name: Apply Hardening
  hosts: all
  become: true
  roles:
    - { role: os_hardening, tags: ["hardening"] }

- name: Apply Vunerability_scanning
  hosts: all
  become: true
  roles:
    - { role: vulnerability_scanning, tags: ["vulnerability"] }    