---
- name: Install Python3-pip
  dnf:
    name: python3-pip
    state: present

- name: Create app directory
  file:
    path: /home/ec2-user/app
    state: directory
    owner: ec2-user
    group: ec2-user
    mode: '0755'

- name: Transfer App, Requirements, and Wheels
  copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: ec2-user
    group: ec2-user
    mode: '0755'
  with_items:
    - { src: "{{ playbook_dir }}/../app/", dest: "/home/ec2-user/app/" }
    - { src: "{{ playbook_dir }}/../requirements.txt", dest: "/home/ec2-user/app/requirements.txt" }
    - { src: "{{ playbook_dir }}/../dependencies/", dest: "/home/ec2-user/app/dependencies/" }

- name: Install App dependencies Offline
  # This targets the .whl files directly to resolve the 'watchfiles' error
  shell: |
    pip3 install --user --no-index --find-links=/home/ec2-user/app/dependencies/ /home/ec2-user/app/dependencies/*.whl
  become: true
  become_user: ec2-user

- name: Start FastAPI in background
  shell: |
    cd /home/ec2-user/app
    export DATABASE_URL="postgresql://{{ db_user }}:{{ db_password }}@{{ rds_endpoint.split(':')[0] }}:5432/{{ db_name }}"
    nohup /usr/bin/python3 -m uvicorn app.main:app --host 0.0.0.0 --port 8000 > app.log 2>&1 &
  async: 60
  poll: 0
  become_user: ec2-user

- name: Wait for FastAPI (Health Check)
  uri:
    url: "http://localhost:8000/"
    status_code: 200
  register: result
  until: result.status == 200
  retries: 10
  delay: 5
  ignore_errors: yes

- name: Debug - Capture App Logs if Health Check Failed
  command: tail -n 20 /home/ec2-user/app/app.log
  register: app_logs
  when: result.status is not defined or result.status != 200

- name: Display App Logs on Failure
  debug:
    var: app_logs.stdout_lines
  when: result.status is not defined or result.status != 200

- name: Final Validation
  fail:
    msg: "FastAPI failed to start. Review the logs displayed above."
  when: result.status is not defined or result.status != 200